HalloweenNameServiceTester/Connected Services/HalloweenNameServiceRef/HalloweenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HalloweenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10801/HalloweenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10801/HalloweenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10801/HalloweenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HalloweenName" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHalloweenService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IHalloweenService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IHalloweenService_GetRandomName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomName" />
  </wsdl:message>
  <wsdl:message name="IHalloweenService_GetRandomName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHalloweenService_GetRandomNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNames" />
  </wsdl:message>
  <wsdl:message name="IHalloweenService_GetRandomNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IHalloweenService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IHalloweenService/Authenticate" message="tns:IHalloweenService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHalloweenService/AuthenticateResponse" message="tns:IHalloweenService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomName">
      <wsdl:input wsaw:Action="http://tempuri.org/IHalloweenService/GetRandomName" message="tns:IHalloweenService_GetRandomName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHalloweenService/GetRandomNameResponse" message="tns:IHalloweenService_GetRandomName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IHalloweenService/GetRandomNames" message="tns:IHalloweenService_GetRandomNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHalloweenService/GetRandomNamesResponse" message="tns:IHalloweenService_GetRandomNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHalloweenService" type="tns:IHalloweenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IHalloweenService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomName">
      <soap:operation soapAction="http://tempuri.org/IHalloweenService/GetRandomName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomNames">
      <soap:operation soapAction="http://tempuri.org/IHalloweenService/GetRandomNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HalloweenService">
    <wsdl:port name="BasicHttpBinding_IHalloweenService" binding="tns:BasicHttpBinding_IHalloweenService">
      <soap:address location="http://localhost:10801/HalloweenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>