HalloweenNameServiceTester/Connected Services/HalloweenNameServiceRef/HalloweenService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloweenName" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloweenName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
  <xs:complexType name="ArrayOfName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Name" nillable="true" type="tns:Name" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfName" nillable="true" type="tns:ArrayOfName" />
</xs:schema>